* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100svh;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.logo {
  width: 90px;
}
