* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  padding: 10px;

  & span {
    margin-top: 20px;
  }
}

.logo {
  width: 90px;
}
